$primaryBlue: #1bbae2;
$primaryGold: #dcab06;

$darkText: #111;
$lightText: #eee;

$bronze: #C68A6B;
$silver: #BDDBDE;
$gold: #EFD377;
$dirt: #918888;

$chromatic-desaturation-amount: 50%;
$chromatic: conic-gradient(
  desaturate(#B5FFB5, $chromatic-desaturation-amount),
  desaturate(#A5FBF7, $chromatic-desaturation-amount),
  desaturate(#ADB6FF, $chromatic-desaturation-amount),
  desaturate(#EF9EFF, $chromatic-desaturation-amount),
  desaturate(#ADFBFF, $chromatic-desaturation-amount),
  desaturate(#FFFFF7, $chromatic-desaturation-amount),
  desaturate(#FFFFCE, $chromatic-desaturation-amount),
  desaturate(#FFB294, $chromatic-desaturation-amount),
  desaturate(#BDF7B5, $chromatic-desaturation-amount), // half
  desaturate(#C8B6EF, $chromatic-desaturation-amount),
  desaturate(#D6EBFF, $chromatic-desaturation-amount),
  desaturate(#ADFFE7, $chromatic-desaturation-amount),
  desaturate(#ADFFBD, $chromatic-desaturation-amount),
  desaturate(#FFFFEF, $chromatic-desaturation-amount),
  desaturate(#FFFFBD, $chromatic-desaturation-amount),
  desaturate(#A5FFF7, $chromatic-desaturation-amount),
  desaturate(#F78EFF, $chromatic-desaturation-amount),
  desaturate(#B5FFB5, $chromatic-desaturation-amount)
);
$colors: ("dirt": $dirt, "bronze": $bronze, "silver": $silver, "gold": $gold, "chromatic": $chromatic);

$roles: abomination assassin brawler cannoneer caretaker cavalier cruel dawnbringer draconic forgotten hellion inanimate invoker ironclad knight legionnaire mystic nightbringer ranger redeemed renewer revenant sentinel skirmisher spellweaver victorious;
$champions: aatrox akshan aphelios ashe brand diana draven fiddlesticks galio garen gragas gwen hecarim heimerdinger irelia ivern jax kalista karma kayle kennen khazix kled leesin leona lucian lulu lux missfortune nautilus nidalee nocturne nunu olaf poppy pyke rakan rell riven sejuani senna sett soraka syndra teemo thresh tristana udyr varus vayne velkoz viego vladimir volibear yasuo ziggs zyra;

$hexagon-mask: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 292 334" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M146.208,4.118l141.715,81.058l0,162.693l-141.715,81.347l-141.716,-81.347l0,-162.693l141.716,-81.058Z"/><path d="M146.208,4.118l141.715,81.058l0,162.693l-141.715,81.347l-141.716,-81.347l0,-162.693l141.716,-81.058Zm-0,24l120.882,69.142c-0,0 -0,138.546 -0,138.546c-0,0 -120.882,69.388 -120.882,69.388c-0,0 -120.883,-69.388 -120.883,-69.388c0,0 0,-138.546 0,-138.546l120.883,-69.142Z"/></svg>');
@function hexagon-shape($svg-stroke-color-string) {
  @return url('data:image/svg+xml;utf8,<svg viewBox="0 0 292 334" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M145.833,0l145.834,83.112l-0,166.814l-145.834,83.407l-145.833,-83.407l-0,-166.814l145.833,-83.112Zm0,23.979l125,71.239c0,-0.001 0,142.623 0,142.623c0,0 -125,71.492 -125,71.492c0,0 -125,-71.492 -125,-71.492c0,0 0,-142.623 0,-142.623l125,-71.239Z" fill="#{$svg-stroke-color-string}"/></svg>');
}

$titleFont: Corbel, Verdana, Sans-Serif;
$bodyFont: Calibri, Helvetica, Sans-Serif;


html {
  font-size: 62.5%; // 1rem = 10px
  background: linear-gradient(to bottom right, rgba($primaryBlue, 0.05) 0%, rgba($primaryBlue, 0.1) 100%);
  min-height: 100%;
  color: $darkText;
  font-family: $bodyFont;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $titleFont;
}

h1 {
  color: $primaryGold;
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: black;
  font-size: 6.4rem;
  background: top left / 128px url("favicon.png") no-repeat;
  padding-left: 12.8rem;
  display: flex;
  align-items: center;
  min-height: 12.8rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

i > i {
  font-style: normal;
}

#app {
  // page width = 1rem body margin, 1rem result card gap, 50rem result card width, 2rem scroll bar width
  // app width = page width - body margin - scroll bar width

  // build grid around result card size, ie 1, 2, 3, 4 result cards in a row

  width: 50rem;

  @media (min-width: (105em * 0.625)) {
    width: 101rem;
  }

  @media (min-width: (156em * 0.625)) {
    width: 152rem;
  }

  @media (min-width: (207em * 0.625)) {
    width: 203rem;
  }

  margin: auto;
}

.number-slider {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;

  .title {
    width: 16rem;
  }

  .input {
    width: 14.4rem;
    margin-right: 1.6rem;
  }

  .value {
    width: 16rem;
  }
}

.role-filter {
  margin-bottom: 0.5rem;
  display: flex;

  .title {
    width: 16rem;
  }

  .options {
    column-width: 14.4rem;
    column-count: 9;
    column-gap: 1.6rem;
  }

  .role {
    width: 14.4rem;
    white-space: nowrap;
    page-break-inside: avoid;
    margin-bottom: 0.5rem;

    position: relative;

    label {
      display: block;
      padding-left: 3.5rem;
      position: relative;

      input {
        margin: 0;
        width: 100%;
        display: block;
      }

      &:after {
        content: '';
        -webkit-mask: left center / 3rem 3rem no-repeat;
        background: $darkText;

        width: 3rem;
        height: 3rem;

        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    @each $role in $roles {
      &.#{$role} label:after {
        -webkit-mask-image: url("traits.svg#use-#{$role}");
      }
    }

    &.is-changed, &:hover {
      text-shadow: 0 0 0.5rem $primaryGold;
    }

    &.is-changed {
      font-weight: bold;
    }
  }
}

.champion-filter {
  margin-bottom: 0.5rem;
  display: flex;

  .title {
    width: 16rem;
  }

  .options {
    column-width: 16rem;
    column-count: 9;
    column-gap: 0;
  }

  .champion {
    display: block;

    background: left center / 3rem auto url("champions.png") no-repeat;
    padding-left: 3.5rem;
    line-height: 3rem;
    margin-bottom: 0.2rem;

    @for $i from 1 through length($champions) {
      $champion: nth($champions, $i);

      &.#{$champion} {
        background-position: 0 (-3rem * ($i - 1));
      }
    }

    &.is-selected, &:hover {
      text-shadow: 0 0 0.5rem $primaryGold;
    }

    &.is-selected {
      font-weight: bold;
    }

    input {
      display: none;
    }
  }
}

.results {
  .distribution {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 2rem;

    dt {
      width: 10rem;
      height: 1rem;
      font-weight: bold;
    }

    dd {
      width: 10rem;
      height: 1rem;
      margin: 0;
    }
  }
}

.compositions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  list-style: none;
  padding-left: 0;
}

.composition {
  display: flex;
  align-items: stretch;

  height: 100%;

  position: relative;
  overflow: hidden;

  border: 0.1rem solid #000;
  border-radius: 0.5rem;

  font-family: $titleFont;

  .synergy {
    position: absolute;
    transform: rotate(45deg);
    width: 10rem;
    text-align: center;
    top: -1.3rem;
    left: 43rem;
    background: scale-color($primaryBlue, $lightness: -5%);
    text-shadow: 0.1rem 0.1rem black;
    color: $lightText;
    z-index: 1;
    outline: 0.1rem solid #000;

    small {
      display: none;
    }
  }

  .composition-roles {
    padding: 1rem 2rem;
    list-style: none;
    width: 19rem - 0.1rem;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 0.2rem;

    background: scale-color($primaryBlue, $lightness: 70%);
    color: $darkText;

    .role {
      position: relative;

      font-size: 1.6rem;
      text-indent: 4.5rem;
      text-align: left;
      white-space: nowrap;

      height: 4rem;
      line-height: 4rem;

      &:before {
        content: ' ';

        -webkit-mask: $hexagon-mask no-repeat center;
        background: hexagon-shape("black") no-repeat center, $dirt;

        width: 4rem;
        height: 4rem;

        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%) scale(0.95);
      }

      &:after {
        content: ' ';
        background: $darkText;

        width: 4rem;
        height: 4rem;

        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%) scale(0.5);
      }

      @each $role in $roles {
        &.#{$role}:after {
          -webkit-mask-image: url("traits.svg#use-#{$role}");
        }
      }

      @each $name, $color in $colors {
        &.#{$name}:before {
          background: hexagon-shape("black") no-repeat center, $color;
        }
      }

      &.is-required {
        text-shadow: 0 0 0.5rem #dcab06;
        font-weight: bold;
      }
    }
  }

  .champions {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    list-style: none;

    padding: 1rem 2rem;

    background-color: #222;

    .champion {
      display: flex;

      background: 0 / 4rem url("champions.png") no-repeat;

      @for $i from 1 through length($champions) {
        $champion: nth($champions, $i);

        &.#{$champion} {
          background-position-y: (-4rem * ($i - 1));
        }
      }

      .name, .champion-roles {
        color: $lightText;
        margin: 0;
        line-height: 4rem;
        font-size: 2rem;
      }

      .name {
        text-indent: calc(4rem + 0.3rem);
        width: 15rem - 0.1rem;

        font-size: 1.6rem;
        font-weight: normal;
        white-space: nowrap;
        line-height: 4rem;
      }

      &.is-required .name {
        text-shadow: 0 0 0.5rem $primaryGold;
        font-weight: bold;
      }

      .champion-roles {
        width: 12rem;
        display: flex;
        padding-left: 0;

        .role {
          position: relative;

          font-size: 0;
          text-align: left;
          width: 4rem;
          height: 4rem;
          list-style: none;

          &.is-required {
            text-shadow: 0 0 0.5rem #dcab06;
            font-weight: bold;

            &:before {
              filter: drop-shadow(0 0 0.5rem scale-color($primaryGold, $alpha: -30%));
            }
          }

          &:before {
            content: ' ';

            background: center no-repeat hexagon-shape("%23555");

            text-indent: 0;
            width: 4rem;
            height: 4rem;

            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%) scale(0.95);
          }

          &:after {
            content: ' ';
            background: $lightText;

            width: 4rem;
            height: 4rem;

            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%) scale(0.5);
          }

          @each $role in $roles {
            &.#{$role}:after {
              -webkit-mask-image: url("traits.svg#use-#{$role}");
            }
          }
        }
      }
    }
  }
}