$primaryBlue: #1bbae2;
$primaryGold: #dcab06;

$darkText: #111;
$lightText: #eee;

$bronze: #C68A6B;
$silver: #BDDBDE;
$gold: #EFD377;
$dirt: #918888;

$chromatic-desaturation-amount: 50%;
$chromatic: conic-gradient(
  desaturate(#B5FFB5, $chromatic-desaturation-amount),
  desaturate(#A5FBF7, $chromatic-desaturation-amount),
  desaturate(#ADB6FF, $chromatic-desaturation-amount),
  desaturate(#EF9EFF, $chromatic-desaturation-amount),
  desaturate(#ADFBFF, $chromatic-desaturation-amount),
  desaturate(#FFFFF7, $chromatic-desaturation-amount),
  desaturate(#FFFFCE, $chromatic-desaturation-amount),
  desaturate(#FFB294, $chromatic-desaturation-amount),
  desaturate(#BDF7B5, $chromatic-desaturation-amount), // half
  desaturate(#C8B6EF, $chromatic-desaturation-amount),
  desaturate(#D6EBFF, $chromatic-desaturation-amount),
  desaturate(#ADFFE7, $chromatic-desaturation-amount),
  desaturate(#ADFFBD, $chromatic-desaturation-amount),
  desaturate(#FFFFEF, $chromatic-desaturation-amount),
  desaturate(#FFFFBD, $chromatic-desaturation-amount),
  desaturate(#A5FFF7, $chromatic-desaturation-amount),
  desaturate(#F78EFF, $chromatic-desaturation-amount),
  desaturate(#B5FFB5, $chromatic-desaturation-amount)
);
$colors: ("dirt": $dirt, "bronze": $bronze, "silver": $silver, "gold": $gold, "chromatic": $chromatic);

$roles: abomination assassin brawler cannoneer caretaker cavalier cruel dawnbringer draconic forgotten hellion inanimate invoker ironclad knight legionnaire mystic nightbringer ranger redeemed renewer revenant sentinel skirmisher spellweaver victorious;
$champions: aatrox akshan aphelios ashe brand diana draven fiddlesticks galio garen gragas gwen hecarim heimerdinger irelia ivern jax kalista karma kayle kennen khazix kled leesin leona lucian lulu lux missfortune nautilus nidalee nocturne nunu olaf poppy pyke rakan rell riven sejuani senna sett soraka syndra teemo thresh tristana udyr varus vayne velkoz viego vladimir volibear yasuo ziggs zyra;



html {
  background: linear-gradient(to bottom right, rgba($primaryBlue, 0.05) 0%, rgba($primaryBlue, 0.1) 100%);
  min-height: 100%;
  color: $darkText;
  font-family: Calibri;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Candara;
  font-family: Corbel;
}

h1 {
  color: $primaryGold;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-size: 64px;
  background: left center / 128px 128px url("favicon.png") no-repeat;
  padding-left: 128px;
  line-height: 128px;
  margin-top: 0;
  margin-bottom: 0.25em;
}

.role-filter {
  .role {
    width: 9rem;
    white-space: nowrap;

    position: relative;

    svg {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);

      width: 2rem;
      height: 2rem;
    }

    label {
      padding-left: 2.3rem;
    }

    &.is-changed, &:hover {
      text-shadow: 0px 0px 5px $primaryGold;
    }
  }
}

.champion-filter {
  .champion {
    input {
      display: none;
    }

    background: left center / 2rem url("champions.png") no-repeat;
    padding-left: 2.3rem;
    line-height: 2rem;
    margin-bottom: 2px;

    @for $i from 1 through length($champions) {
      $champion: nth($champions, $i);

      &.#{$champion} {
        background-position: 0 (-2rem * ($i - 1));
      }
    }

    &.is-selected, &:hover {
      text-shadow: 0px 0px 5px $primaryGold;
    }
  }
}

.composition {
  display: flex;
  text-align: center;
  position: relative;

  overflow: hidden;

  &:hover {
    position: absolute;

    .synergy {
      z-index: 2;
    }

    .composition-roles {
      z-index: 1;

      &:hover {
        min-height: 18rem;
        height: max-content;

        .role &:nth-child(n+8) {
          font-size: 16px;
        }
      }
    }
  }

  .synergy {
    position: absolute;
    transform: rotate(-45deg);
    width: 10rem;
    text-align: center;
    top: -0.5rem;
    left: -3.75rem;
    background: $primaryBlue;
    text-shadow: 1px 1px black;
    color: $lightText;

    small {
      display: none;
    }
  }

  .composition-roles {
    padding: 1rem 2rem;
    list-style: none;
    width: 10rem;
    height: 18rem;

    display: flex;
    flex-direction: column;
    align-content: flex-start;

    border: 1px solid black;
    border-radius: 0.5rem;
    background: scale-color($primaryBlue, $lightness: 70%);
    color: $darkText;

    &:not(:hover) .role {

      &:nth-child(n+8) {
        font-size: 0;

        &:after {
          display: none;
        }

        &:nth-child(8) {
          &:before {
            content: "…";
            font-size: 16px;
            margin-top: -1rem;
            background: none;
            -webkit-mask: none;
          }
        }
      }
    }

    .role {
      position: relative;

      font-size: 16px;
      text-indent: 45px;
      text-align: left;
      height: 40px;
      line-height: 40px;

      &:before {
        content: ' ';
        // hexagon with default dirt background
        -webkit-mask: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 292 334" version="1.1" xmlns="http://www.w3.org/2000/svg"><path id="border" d="M146.208,4.118l141.715,81.058l0,162.693l-141.715,81.347l-141.716,-81.347l0,-162.693l141.716,-81.058Z"/><path d="M146.208,4.118l141.715,81.058l0,162.693l-141.715,81.347l-141.716,-81.347l0,-162.693l141.716,-81.058Zm-0,24l120.882,69.142c-0,0 -0,138.546 -0,138.546c-0,0 -120.882,69.388 -120.882,69.388c-0,0 -120.883,-69.388 -120.883,-69.388c0,0 0,-138.546 0,-138.546l120.883,-69.142Z"/></svg>') no-repeat center;
        background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 292 334" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M145.833,0l145.834,83.112l-0,166.814l-145.834,83.407l-145.833,-83.407l-0,-166.814l145.833,-83.112Zm0,23.979l125,71.239c0,-0.001 0,142.623 0,142.623c0,0 -125,71.492 -125,71.492c0,0 -125,-71.492 -125,-71.492c0,0 0,-142.623 0,-142.623l125,-71.239Z" fill="black"/></svg>') no-repeat center, $dirt;

        width: 40px;
        height: 40px;

        position: absolute;
        top: 50%;
        left: 0px;
        transform: translate(0, -50%) scale(0.95);
      }

      &:after {
        content: ' ';
        background: center no-repeat;

        width: 40px;
        height: 40px;

        position: absolute;
        left: 0px;
        top: 50%;
        transform: translate(0, -50%) scale(0.5);
      }

      @each $role in $roles {
        &.#{$role}:after {
          background-image: url("traits.svg#use-#{$role}");
        }
      }

      @each $name, $color in $colors {
        &.#{$name}:before {
          // hexagon with colored background
          background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 292 334" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M145.833,0l145.834,83.112l-0,166.814l-145.834,83.407l-145.833,-83.407l-0,-166.814l145.833,-83.112Zm0,23.979l125,71.239c0,-0.001 0,142.623 0,142.623c0,0 -125,71.492 -125,71.492c0,0 -125,-71.492 -125,-71.492c0,0 0,-142.623 0,-142.623l125,-71.239Z" fill="black"/></svg>') no-repeat center, $color;
        }
      }
    }
  }

  .champions {
    display: flex;
    list-style: none;
    padding-left: 0;

    .champion {
      width: 10.1rem;
      height: 20rem;
      overflow: hidden;

      border: 1px solid black;
      border-radius: 0.5rem;

      background: top left / 10.1rem url("champions.png") no-repeat;

      @for $i from 1 through length($champions) {
        $champion: nth($champions, $i);

        &.#{$champion} {
          background-position: 0 (-10.1rem * ($i - 1));
        }
      }

      .name, .champion-roles {
        color: $lightText;
        background: #222;
        margin: 0;
        line-height: 40px;
        font-size: 20px;
      }

      .name {
        transition-duration: 0.3s;
        margin-top: 10.1rem;
      }

      &:hover {
        .name {
          margin-top: 20rem;
        }
      }

      .champion-roles {
        height: 100%;
        flex-direction: column;

        .role {
          position: relative;

          font-size: 16px;
          color: white;
          text-indent: 45px;
          text-align: left;
          height: 40px;
          line-height: 40px;
          margin-left: 1rem;

          &:before {
            content: ' ';
            // hexagon
            background: center no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-5 -5 80 90"><polygon fill="%232e2c2c" stroke="%23555" stroke-width="5" points="35 0, 70 20, 70 60, 35 80, 0 60, 0 20" /></svg>');

            text-indent: 0;
            color: #2e2c2c;
            width: 40px;
            height: 40px;

            position: absolute;
            top: 50%;
            left: 0px;
            transform: translate(0, -50%) scale(0.95);
          }

          &:after {
            content: ' ';
            background: center no-repeat;
            filter: invert(1);

            width: 40px;
            height: 40px;

            position: absolute;
            left: 0px;
            top: 50%;
            transform: translate(0, -50%) scale(0.5);
          }

          @each $role in $roles {
            &.#{$role}:after {
              background-image: url("traits.svg#use-#{$role}");
            }
          }
        }
      }
    }
  }
}