$primaryBlue: #1bbae2;
$primaryGold: #dcab06;

$darkText: #111;
$lightText: #eee;

$bronze: #C68A6B;
$silver: #BDDBDE;
$gold: #EFD377;
$dirt: #918888;

$chromatic-desaturation-amount: 50%;
$chromatic: conic-gradient(
  desaturate(#B5FFB5, $chromatic-desaturation-amount),
  desaturate(#A5FBF7, $chromatic-desaturation-amount),
  desaturate(#ADB6FF, $chromatic-desaturation-amount),
  desaturate(#EF9EFF, $chromatic-desaturation-amount),
  desaturate(#ADFBFF, $chromatic-desaturation-amount),
  desaturate(#FFFFF7, $chromatic-desaturation-amount),
  desaturate(#FFFFCE, $chromatic-desaturation-amount),
  desaturate(#FFB294, $chromatic-desaturation-amount),
  desaturate(#BDF7B5, $chromatic-desaturation-amount), // half
  desaturate(#C8B6EF, $chromatic-desaturation-amount),
  desaturate(#D6EBFF, $chromatic-desaturation-amount),
  desaturate(#ADFFE7, $chromatic-desaturation-amount),
  desaturate(#ADFFBD, $chromatic-desaturation-amount),
  desaturate(#FFFFEF, $chromatic-desaturation-amount),
  desaturate(#FFFFBD, $chromatic-desaturation-amount),
  desaturate(#A5FFF7, $chromatic-desaturation-amount),
  desaturate(#F78EFF, $chromatic-desaturation-amount),
  desaturate(#B5FFB5, $chromatic-desaturation-amount)
);
$colors: ("dirt": $dirt, "bronze": $bronze, "silver": $silver, "gold": $gold, "chromatic": $chromatic);

$roles: abomination assassin brawler cannoneer caretaker cavalier cruel dawnbringer draconic forgotten hellion inanimate invoker ironclad knight legionnaire mystic nightbringer ranger redeemed renewer revenant sentinel skirmisher spellweaver victorious;
$champions: aatrox akshan aphelios ashe brand diana draven fiddlesticks galio garen gragas gwen hecarim heimerdinger irelia ivern jax kalista karma kayle kennen khazix kled leesin leona lucian lulu lux missfortune nautilus nidalee nocturne nunu olaf poppy pyke rakan rell riven sejuani senna sett soraka syndra teemo thresh tristana udyr varus vayne velkoz viego vladimir volibear yasuo ziggs zyra;

$hexagon-mask: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 292 334" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M146.208,4.118l141.715,81.058l0,162.693l-141.715,81.347l-141.716,-81.347l0,-162.693l141.716,-81.058Z"/><path d="M146.208,4.118l141.715,81.058l0,162.693l-141.715,81.347l-141.716,-81.347l0,-162.693l141.716,-81.058Zm-0,24l120.882,69.142c-0,0 -0,138.546 -0,138.546c-0,0 -120.882,69.388 -120.882,69.388c-0,0 -120.883,-69.388 -120.883,-69.388c0,0 0,-138.546 0,-138.546l120.883,-69.142Z"/></svg>');
@function hexagon-shape($svg-stroke-color-string) {
  @return url('data:image/svg+xml;utf8,<svg viewBox="0 0 292 334" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M145.833,0l145.834,83.112l-0,166.814l-145.834,83.407l-145.833,-83.407l-0,-166.814l145.833,-83.112Zm0,23.979l125,71.239c0,-0.001 0,142.623 0,142.623c0,0 -125,71.492 -125,71.492c0,0 -125,-71.492 -125,-71.492c0,0 0,-142.623 0,-142.623l125,-71.239Z" fill="#{$svg-stroke-color-string}"/></svg>');
}

$titleFont: Corbel, Verdana, Sans-Serif;
$bodyFont: Calibri, Helvetica, Sans-Serif;


html {
  background: linear-gradient(to bottom right, rgba($primaryBlue, 0.05) 0%, rgba($primaryBlue, 0.1) 100%);
  min-height: 100%;
  color: $darkText;
  font-family: $bodyFont;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $titleFont;
}

h1 {
  color: $primaryGold;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-size: 64px;
  background: top left / 128px url("favicon.png") no-repeat;
  padding-left: 128px;
  display: flex;
  align-items: center;
  min-height: 128px;
  margin-top: 0;
  margin-bottom: 0.25em;
}

.role-filter {
  .role {
    width: 9rem;
    white-space: nowrap;

    position: relative;

    label {
      padding-left: 2.3rem;
      position: relative;

      &:after {
        content: '';
        -webkit-mask: left center / 2rem 2rem no-repeat;
        background: $darkText;

        width: 2rem;
        height: 2rem;

        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    @each $role in $roles {
      &.#{$role} label:after {
        -webkit-mask-image: url("traits.svg#use-#{$role}");
      }
    }

    &.is-changed, &:hover {
      text-shadow: 0px 0px 5px $primaryGold;
    }
  }
}

.champion-filter {
  .champion {
    input {
      display: none;
    }

    background: left center / 2rem auto url("champions.png") no-repeat;
    padding-left: 2.3rem;
    line-height: 2rem;
    margin-bottom: 2px;

    @for $i from 1 through length($champions) {
      $champion: nth($champions, $i);

      &.#{$champion} {
        background-position: 0 (-2rem * ($i - 1));
      }
    }

    &.is-selected, &:hover {
      text-shadow: 0px 0px 5px $primaryGold;
    }
  }
}

.compositions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  list-style: none;
  padding-left: 0;
}

.composition {
  display: flex;
  align-items: stretch;

  height: 100%;

  position: relative;
  overflow: hidden;

  border: 1px solid #000;
  border-radius: 5px;

  font-family: $titleFont;

  .synergy {
    position: absolute;
    transform: rotate(-45deg);
    width: 10rem;
    text-align: center;
    top: -0.5rem;
    left: -3.75rem;
    background: $primaryBlue;
    text-shadow: 1px 1px black;
    color: $lightText;

    small {
      display: none;
    }
  }

  .composition-roles {
    padding: 1rem 2rem;
    list-style: none;
    width: 10rem;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 2px;

    background: scale-color($primaryBlue, $lightness: 70%);
    color: $darkText;

    .role {
      position: relative;

      font-size: 16px;
      text-indent: 45px;
      text-align: left;
      white-space: nowrap;

      height: 40px;
      line-height: 40px;

      &:before {
        content: ' ';

        -webkit-mask: $hexagon-mask no-repeat center;
        background: hexagon-shape("black") no-repeat center, $dirt;

        width: 40px;
        height: 40px;

        position: absolute;
        top: 50%;
        left: 0px;
        transform: translate(0, -50%) scale(0.95);
      }

      &:after {
        content: ' ';
        background: $darkText;

        width: 40px;
        height: 40px;

        position: absolute;
        left: 0px;
        top: 50%;
        transform: translate(0, -50%) scale(0.5);
      }

      @each $role in $roles {
        &.#{$role}:after {
          -webkit-mask-image: url("traits.svg#use-#{$role}");
        }
      }

      @each $name, $color in $colors {
        &.#{$name}:before {
          background: hexagon-shape("black") no-repeat center, $color;
        }
      }

      &.is-required {
        text-shadow: 0px 0px 5px #dcab06;
        font-weight: bold;
      }
    }
  }

  .champions {
    display: flex;
    flex-direction: column;
    gap: 2px;

    list-style: none;

    padding: 1rem;
    padding-right: 2rem;

    background-color: #222;

    .champion {
      display: flex;

      background: 0 / 40px url("champions.png") no-repeat;

      @for $i from 1 through length($champions) {
        $champion: nth($champions, $i);

        &.#{$champion} {
          background-position-y: (-40px * ($i - 1));
        }
      }

      .name, .champion-roles {
        color: $lightText;
        margin: 0;
        line-height: 40px;
        font-size: 20px;
      }

      .name {
        text-indent: calc(40px + 0.3rem);
        width: 10rem;

        font-size: 16px;
        font-weight: normal;
        white-space: nowrap;
        line-height: 40px;
      }

      &.is-required .name {
        text-shadow: 0px 0px 5px $primaryGold;
        font-weight: bold;
      }

      .champion-roles {
        width: 8rem;
        display: flex;
        padding-left: 0;

        .role {
          position: relative;

          font-size: 0;
          text-align: left;
          width: 40px;
          height: 40px;
          list-style: none;

          &.is-required {
            text-shadow: 0px 0px 5px #dcab06;
            font-weight: bold;

            &:before {
              filter: drop-shadow(0px 0px 5px scale-color($primaryGold, $alpha: -30%));
            }
          }

          &:before {
            content: ' ';

            background: center no-repeat hexagon-shape("%23555");

            text-indent: 0;
            width: 40px;
            height: 40px;

            position: absolute;
            top: 50%;
            left: 0px;
            transform: translate(0, -50%) scale(0.95);
          }

          &:after {
            content: ' ';
            background: $lightText;

            width: 40px;
            height: 40px;

            position: absolute;
            left: 0px;
            top: 50%;
            transform: translate(0, -50%) scale(0.5);
          }

          @each $role in $roles {
            &.#{$role}:after {
              -webkit-mask-image: url("traits.svg#use-#{$role}");
            }
          }
        }
      }
    }
  }
}